<ion-button fill="clear" size="large" id="boton-volver"  (click)="volverPaginaPrincipal()">
  <ion-icon color="dark" name="close"></ion-icon>
</ion-button>

<ion-content>
  <!-- Div para hacer espacio y quizas meter algo despues -->
  <div>

  </div>
  <!-- Imagen y titulo -->
  <div>
    <ion-text color="dark">
      <h1>Ventilador Kendal, modelo Fe-50</h1>
    </ion-text>
    <img src="../../assets/images/7927702_1.jpeg" alt="" />
    <ion-text color="dark">
      <h1>Descripcion</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati modi aspernatur eos culpa, dolores cupiditate ipsam reiciendis! Reprehenderit beatae vitae eveniet animi iure. Dolor soluta placeat harum reprehenderit porro. Totam.</p>
    </ion-text>
  </div>
  <div>

  </div>
</ion-content>
