<ion-header>
		<ion-toolbar id="header-pp">
			<ion-title>Bienvenido Usuario</ion-title>
			<ion-button slot="end" id="boton-cerrarsesion" (click)="cerrarSesion()">
				<ion-icon name="close-circle"></ion-icon>
			</ion-button>
		</ion-toolbar>
</ion-header>

<ion-content>
	<ion-text>
		<h1>Ultimos productos agregados</h1>
	</ion-text>
	<ion-slides pager="true" [options]="slideOpts">
		<ion-slide>
			<ion-card>
				<img src="../../assets/images/7927702_1.jpeg" alt="" />
				<ion-title color="dark">Ventilador</ion-title>
			</ion-card>
		</ion-slide>
		<ion-slide>
			<ion-card>
				<img src="../../assets/images/84.jpg" alt="" />
				<ion-title color="dark">Mesa</ion-title>
			</ion-card>
		</ion-slide>
		<ion-slide>
			<ion-card>
				<img
					src="../../assets/images/CB190R-repsol_grande.png"
					alt=""
				/>
				<ion-title color="dark">Moto</ion-title>
			</ion-card>
		</ion-slide>
		<ion-slide>
			<ion-card>
				<img
					src="../../assets/images/D_889826-MLA47230609712_082021-O.jpg"
					alt=""
				/>
				<ion-title color="dark">Computador</ion-title>
			</ion-card>
		</ion-slide>
	</ion-slides>

	<ion-button (click)="irAgregarProducto()" expand="block" color="dark">
		Agregar productos
	  </ion-button>
</ion-content>
