<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title> Ripley App </ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="contenido">
	<div id="logo">
		<img src="../../assets/images/logoripley.png" alt="Logo Ripley">
	</div>

  <div id="botones">
    <ion-button class="blanco" (click)="irIniciarSesion()" expand="block" color="light">
      Iniciar sesion
    </ion-button>
    <ion-button (click)="irRegistrarse()" expand="block" color="dark">
      Registrarse
    </ion-button>
  </div>
</ion-content>
